.SignBlock{
    position: relative;
    display: flex;
    justify-content: center;
}

.SignBlock a{
    position: relative;
    display: flex;
    align-self: start;
    font-weight: 400;
    font-size: 1.09rem;
    letter-spacing: .3px;
    overflow: hidden;
}

/* .SignLink{
    padding-right: 15px;
    border-right: 1px solid #c9c4c4;
} */

.SignIn{
    position: relative;
    border: none;
    background: none;
    outline: none;
    color: #363434;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 400;
}

.SignIn::before{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transition: .3s;
    background: #2b87e4;
}

.SignIn:hover::before{left: 0; width: 100%;}
.SignIn:hover{color: #000;}