.SpanImg > img {width: 80px;}

.DoneMess{
    display: block;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 28px;
    color: #393939;
    font-size: 1.1rem;
}

.Thanks{font-weight: 500;}