.ProductPage{
    padding: 0 0 2rem 0;
}
.ProductPageBody{
    position: relative;
    min-width: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem 0;
    height: initial;
}

.ProductCode{
    display: inline-block;
    margin: 1rem 0;
    font-weight: 500;
}

.ProductCode span{font-weight: 400; margin-left: .3rem;}

.ProductTitle{
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: .3rem;
}

.ProductPrice{margin: 1.1rem 0;}

.ProductPrice span:nth-child(2){
    font-size: 1.6rem;
}

.ProductPrice *{
    font-size: 2rem;
    font-weight: 400;
}

.ProductPageImg{
    width: 55%;
}

.sticky{
    position: relative;
    width: 45%;
}

.ProductDescBlock{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 15px;
    padding: 1.5rem;
    background: #fff;
    height: initial;
}
.ProductColor{
    display: flex;
    gap: .3rem;
    justify-content: start;
    align-items: center;
}
.ProductDescColor{
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    justify-content: start;
    gap: .5rem;
    align-items: center;
}
.ProductColor span{font-weight: 500;}
.ProductInfo h3{
    margin: .8rem 0 .4rem 0; 
    font-size: 1.2rem;
    font-weight: 500;
}
.ProductInfo span{
    color: #6A6A6A;
    line-height: 28px;
    font-size: .97rem;
}
.ProductDesc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem 0;
    row-gap: 1rem;
}
.ProductDesc li{width: 45%;}
.ProductBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProductDesc li strong{font-weight: 500;}
.ProductBtns button, .ProductBtns a{
    height: 55px;
    background: #1D1D1B;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    width: 90%;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
.ProductBtns button:nth-child(2){width: 50px;}
.ProductBtns button:nth-child(2) svg {position: absolute;}
.ProductPageImg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    row-gap: 1rem;
}
.ProductBtns button:hover{box-shadow: inset 0 0 20px #7b5959;}
.ProductBtns a:hover{box-shadow: inset 0 0 20px #7b5959;}
.ProductPageBusket{transform-origin: top center;}
.ProductPageHeart, .ProductPageBusket{
    transform-origin: bottom center;
    width: 28px;
    height: 26px;
}
.ProductBtns button:hover svg{animation: svgHover .3s ease-in-out;}

.ProductPageHeart, .ProductPageBusket{ fill: #fff; }
.ProductActiveHeart{transition: .2s;}

.ProductPageImg img{width: 49%;}
.ProductPageImg img:nth-last-child(-n+4){
    width: 23.5%;
}

@media screen and (max-width: 425px) {
    .ProductPageBody{
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .ProductPageImg{width: 100%;}
    .SwiperImg{
        height: initial; 
        /* min-width: 0; */
        overflow: visible;
    }
    .sticky{width: 100%;}
    .SwiperSlideImg{ width: inherit !important; }
    .SwiperSlideImg img{width: 100%;}
    .ProductDesc{flex-direction: column; row-gap: 1.5rem;}
    .ProductDesc li {width: 100%;}
    .ProductDesc li * {font-weight: 400;}
    .ProductBtns{gap: 5px;}
    .ProductBtns button:nth-child(2){min-width: 50px;}
}

@keyframes svgHover{
    0%{transform: rotate(0);}
    25%{transform: rotate(-5deg);}
    75%{transform: rotate(5deg);}
    100%{transform: rotate(0);}
}