*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #393939;
  font-family: 'Montserrat';
}
::-webkit-scrollbar {
  width: 17px;
  background: #F8F9FA;
}

::-webkit-scrollbar-thumb{
  background: #C7C7C7;
}

body{
  background: #F8F8F8;
  /* overflow-x: hidden; */
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

#root{
  display: flex;
  justify-content: center;
}

.container{
  width: 85%;
  margin: 0 auto;
}
.slider-container{
  margin-bottom: 60px;
}
.App{
  position: relative;
  width: 100%;
  /* overflow-x: hidden; */
  z-index: 100;
}

@import url("./product.css");
@import url("./collection.css");

.TCItem-enter {
  opacity: 0;
  transform: translateY(50%);
}
.TCItem-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
  transform: translateY(0%);
}
.TCItem-exit {
  opacity: 1;
  transform: translateY(0%);
}
.TCItem-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
  transform: translateX(100%);
}
.basketTransitiom-enter {
  opacity: 0;
}
.basketTransitiom-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.basketTransitiom-exit {
  opacity: 1;
}
.basketTransitiom-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.homeMobSwiper{height: initial !important;}

@media screen and (max-width: 425px) {
  .container{width: 90%;}
  .slider-container{width: 100%;}
  .slider-container .swiper{height: 390px;}
}