.Header{
    position: relative;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.HeaderDesk{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}
.HeaderNavbar{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
}
.HeaderList{
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 17px;
}

.HeaderNavbar *{
    font-size: 17px;
    font-weight: 400;
    z-index: 10;
}

.HeaderTel a{
    margin-left: .5rem;
}

.HeaderTel span{
    color: #979797;
}

.HeaderLogo::before{
    position: absolute;
    content: '';
    width: 100vw;
    height: 140%;
    top: -20%;
    left: -9%;
    border: 1px solid #F2F2F2;
    /* z-index: 1000; */
}
.HeaderLogo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    z-index: 10;
    margin-bottom: 1rem;
}
.HeaderLogo a{z-index: 1000;}

.HeaderInputBlock{
    width: 60%;
    position: relative;
    border: 1px solid #E0E0E0;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: #F8F8F8;
}

.HeaderInputBlock input{
    border: none;
    outline: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.1rem;
}

.HeaderInputBlock button, .HeaderMobile button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.HeaderBasFav{
    position: relative;
    display: flex;
    justify-content: center;
}

.HeaderBasFav a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    gap: .6rem
}
.HeaderBasFav a:nth-child(1){
    border-right: 1px solid #D3D3D3;
}

.HeaderBasFav a svg{
    fill: #515151;
    width: 25px;
    height: 23px;
}
.HeaderMenu{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 85%;
    height: 100vh;
    padding: 1.3rem;
    transform: translateX(-115%);
    transition: .3s;
    z-index: 1111;
}

.HeaderMenuBody{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.2rem;
    z-index: 1111;
}
.DarkFon{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(215, 215, 215, 0.6);;
    z-index: 1010;
}
.HeaderMenu div .HeaderBasFav, .HeaderMenu div .HeaderList{
    flex-direction: column;
}
.HeaderMenu div .HeaderBasFav a{align-items: flex-start; padding: 0;}
.HeaderMenu div .HeaderBasFav *{border: none;}
.HeaderMenu div .HeaderBasFav{
    border-top: 2px solid #D3D3D3;
    margin-top: 1.4rem;
    padding-top: 1.4rem;
    gap: 1.4rem;
    align-items: flex-start;
}
.HeaderMenu .HeaderTel{margin-top: .5rem; position: relative;}
.HeaderMenu .HeaderList{align-items: flex-start;}
.HeaderMenuBody h1{font-weight: 500;}
.HeaderMenu .HeaderTel::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #393939;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
}

.BasFavActive{position: relative;}
.BasFavActive::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #E5271B;
    border-radius: 50%;
    top: -2px;right: 0;
}

.HeaderMobile{
    display: none;
}

.HeaderMenuClose{position: absolute; top: 1.5rem; right: 1.4rem;}
.HeaderMenuClose svg{ width: 22px; height: 22px;}

@media screen and (max-width: 425px) {
    .HeaderDesk{
        display: none;
    }
    .HeaderMobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: .4rem 0;
        align-items: center;
        padding-right: 3px;
        height: 80px;
    }
    .HeaderMobile > a img{
        width: 111px;
    }
    .HeaderMobile a{font-weight: 500;}
    .HeaderTel a {font-weight: 400;}
    .HeaderMenuBody p {font-weight: 500;}
    .HeaderMenuActive{transform: translateX(0);}
    .FloatLink{
        display: flex; gap: .5rem;
        flex-wrap: wrap;
        margin-top: .8rem;
        padding-top: .8rem;
        border-top: 2px solid #D3D3D3;
    }
    .FloatLink p {width: 100%; margin-bottom: .4rem;}
}