.About{
    padding: .3rem 0 3.5rem 0;
}

.AboutBody{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.AboutImageBlock{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    gap: 24px;
}

.AboutImage{
    position: relative;
    width: 45%;
}

.AboutImage img{
    position: relative;
    width: 100%;
    height: 100%;
}

.AboutImage:nth-child(2){
    transform: translateY(50%);
}

.AboutText{
    position: relative;
    width: 40%;
    padding: 2rem;
    background: #fff;
    font-size: 15.5px;
    line-height: 30px;
}

.AboutText span{color: #979797;}
.AboutText h1{margin-bottom: .7rem;}

@media screen and (max-width: 425px){
    .About{padding: 2rem 0 3.5rem 0;}
    .AboutBody{flex-direction: column;}
    .AboutImageBlock{width: 100%;}
    .AboutText{width: 100%;}
}